@page
@model Mission09_emwind.Pages.ConfirmationModel
@{
}

@*Confirmation message after purchase has been submitted*@
<div class="text-center">
    <h2>Thank you for your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>