@{
}

@model BooksViewModel
<!-- Print book info for each book in our database-->
@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b"/>
}

<!-- Create buttons for each page -->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>